.search-box {
  margin-left: auto;
  width: clamp(170px, 28%, 350px);
}

.global-search {
  border: 1.5px solid rgb(221, 232, 244);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.global-search:focus {
  border-color: hsl(211, 51%, 85%);
}

.header-icon {
  font-size: 1rem;
  color: rgb(162, 159, 159);
  position: relative;
}

.user {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.user img {
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
  width: 40px;
  aspect-ratio: 1;
  border: 2px solid white;
}

.user-pic::after {
  content: ".";
  font-size: 40px;
  position: absolute;
  color: rgb(253 186 116);
  bottom: 14px;
  right: 8px;
}

.user-name {
  font-weight: 700;
}

.user-designation {
  font-size: 12px;
  font-weight: 500;
}

.bi-bell::after {
  content: attr(data-notification);
  font-size: 44px;
  position: absolute;
  color: rgb(249 115 22);
  top: -16px;
  left: 8px;
}


@media (min-width: 768px) { 

  
 }
