.search-box {
  margin-left: auto;
  max-width: 350px;
}

.global-search {
  border: 1.5px solid rgb(221, 232, 244);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.global-search:focus {
  border-color: hsl(211, 51%, 85%);
}

.header-icon {
  color: rgb(162, 159, 159);
  font-size: 1rem;
  position: relative;
}

.user img {
  border: 2px solid white;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
}

.user-pic::after {
  bottom: 12px;
  color: rgb(253 186 116);
  content: ".";
  font-size: 40px;
  position: absolute;
  right: 0;
}

.user-name {
  font-weight: 700;
}

.user-designation {
  font-size: 12px;
  font-weight: 500;
}

.bi-bell::after {
  color: rgb(249 115 22);
  content: attr(data-notification);
  font-size: 44px;
  left: 8px;
  position: absolute;
  top: -16px;
}

@media (min-width: 768px) {
  .user-pic::after {
    bottom: 14px;
    right: 8px;
  }
}

@media (max-width: 768px) {
  .user-details {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    right: 0px;
    position: absolute;
    top: 34px;
    width: 140px;
    border-radius: 4px;
    padding: 8px;
  }

  .user-details::before {
    content: "";
    height: 8px;
    position: absolute;
    width: 8px;
    right: 12px;
    top: -2px;
    background-color: white;
    transform: rotate(45deg);
  }

  .user-pic:hover + .user-details {
    display: block;
  }

  .search-box {
    background-color: white;
    padding: 0.5rem 1.25rem;
    width: 100%;
    position: absolute;
    inset: 0;
    max-width: unset;
    z-index: 10;
  }

  .modal-background {
    position: absolute;
    width: 100%;
    inset: 0;
    top: 52px;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 250ms forwards;
}

.fade-out {
  animation: fade-out 250ms forwards;
}
