@import "~antd/dist/antd.css";

.highcharts-grid-line,
.highcharts-axis,
.highcharts-axis-labels,
.highcharts-credits,
.highcharts-legend,
.highcharts-point,
.highcharts-halo,
.highcharts-label,
.highcharts-tooltip,
.highcharts-title,
.highcharts-plot-background,
.highcharts-background {
  display: none;
}
.App {
  /* margin: 5px; */
  max-width: 1366px;
  margin: 0 auto;
  background-color: white;
}
.spline-graph .highcharts-container {
  margin-top: -8px;
  width: 100px !important;
  height: 62px !important;
  /* width: 150px !important;
  height: 100px !important; */
}
.spline-graph .highcharts-root {
  width: 100px;
  height: 70px;
}

.item-flex-row {
  display: flex;
  flex-direction: row;
}
.item-flex-column {
  display: flex;
  flex-direction: column;
}
.card-graph-container {
  /* border: 1px solid #ddd; */
  margin-top: 12px;
  /* border-radius: 5px; */
  flex-wrap: wrap;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
}
.card-layout {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 5px 0 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.card-title,
.graph-amount-label {
  justify-content: space-between;
  align-items: center;
}
.card-title .title {
  font-size: 12px;
  font-weight: 500;
}
.card-title .growth-amount {
  font-size: 13px;
  font-weight: 500;
}
.card-title .growth-down {
  color: red;
}
.card-title .growth-up {
  color: green;
}
.target-amount {
  font-size: 11px;
  font-weight: 600;
}
.target-amount .target-label {
  font-weight: 400;
}
.amount-details {
  align-items: flex-start;
}
.amount-details,
.actual-amount {
  font-weight: 700;
}
.arrow-up,
.arrow-down {
  font-size: 14px;
}
.time-button-menu .btnPadding {
  padding: 5px 10px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.time-button-menu .first-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.time-button-menu .fourth-btn {
  border-right: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.text-custom-small {
  font-size: 0.55rem;
}

section {
  background-color: #f8f7ff;
  padding: 24px;
  padding: 1rem 1.5rem 0.5rem;
  margin-bottom: 4px;
}

.card {
  border-radius: 8px;
  background-color: white;
}

.button-more {
  margin-left: auto;
}
.filterby {
  margin-left: auto;
}
.cell-width-1 { width: 4.2rem; }
.cell-width-2 { width: 8.5rem; }
.cell-width-3 { width: 12.9rem; }
.cell-width-4 { width: 17.2rem; }
.cell-width-5 { width: 21.6rem; }
.cell-width-6 { width: 25.9rem; }
.cell-width-7 { width: 30.5rem; }
.cell-width-8 { width: 35.5rem; }
.cell-width-9 { width: 39.1rem; }
.cell-width-10 { width: 43.7rem; }
.cell-width-11 { width: 48.1rem; }
.cell-width-12 { width: 52.5rem; }
.cell-width-13 { width: 56.5rem; }

.status-zone-label {
  font-size: 0.42rem;
}
.custom-height-0, .custom-height-1 {
  height: 3rem;
}
.custom-height-2 {
  height: 6rem;
}
.custom-height-3 {
  height: 9rem;
}
.top-cell-2 {
  top: 3rem;
}
.top-cell-3 {
  top: 6rem;
}
.code-icon {
  font-size: 6px;
  margin: 0px 3px 0 4px;
  font-weight: 700;
}